body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 30px;
}
.color{
    color: rgb(238, 159, 12);
}
.half{
    width: 70%;
 
}
.flexible{
    display: flex;
}
.first{
    margin-top: 12%;
    margin-left: 10%;
}

.link{
    padding: 10px;
    background-image: linear-gradient(yellow, orange);
    text-decoration: none;
    text-align: center;
    margin-top: 10%;
    color: black;
    border-radius: 15px;
    margin: auto;
   }

.half img{
    width: 80%;
}
.one{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10%;
}

.image2 img{
    width:80%;
    margin-top: 2%;
}
.second{
 
    margin-right: 10%;
}
.two{
    margin-top: 5%;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    margin-top: 5%;
}
.recipies{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
     }
    .recipies p{
        margin-left: 20%;
    margin-right: 20%;    }

    .category img{
       
        padding: 2%;
  }
   
    .category h3{
        padding-left: 2%;
        padding-right: 2%;
    }
    .category h5{
        padding-left: 2%;
        padding-right: 7%;
    }
    img.foods{
        width: 200px;
        height: 140px;
        margin-top: 5%;
        border-radius: 5%;
    }

    .all-category{
        display: flex;
        margin-bottom: 20%;
        width: 100%;
        }
    

    .item{
        box-shadow: 10px  10px 20px gray;
        
        margin-left: 6%;
        margin-right: 6%;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 10px;
    
       }

    .align h4{
        margin-left: 45%;
        margin-top: -120px;
        margin-bottom: 5%;
       color: darksalmon;
      
       font-size:larger;
    }
    .box{
        padding: 70px;
        box-shadow: 10px 10px 40px gray;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 10%;
        display: flex;
        
    }
    
    .bonus{
        column-count: 3;
    
        width: 36%;
        margin-right: 5%;
        margin-right: 3%;
    }
    
    footer h3 {text-align: center;}
    footer p {text-align: center;}
    footer{
    background-color: rgb(241, 223, 199);
    padding-bottom: 1px;
    }


.new-items{
    margin-left: 33%;
    margin-top: 5%;
   }

.location p{
  padding-top: 50%;
  padding-left: 55px;
}